@tailwind base;
@tailwind components;
@tailwind utilities;
/* Reset body styles to remove default margin and padding */
body {
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    height: 100%; /* Ensure full height */
  }
  